*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#fffdf8;
color:#333;
overflow-x:hidden;
}

.loader{
position:fixed;
width:100%;
height:100%;
background:white;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
font-family:'Cormorant Garamond';
font-size:30px;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
url('https://images.unsplash.com/photo-1511285560929-80b456fea0bc');
background-size:cover;
background-position:center;
color:white;
}

.hero-content h1{
font-size:70px;
font-family:'Cormorant Garamond';
}

.hero-content p{
font-size:22px;
}

.hero-content span{
display:block;
margin:15px 0;
}

button{
padding:14px 35px;
border:none;
border-radius:50px;
background:#c9a86a;
color:white;
font-size:16px;
cursor:pointer;
}

section{
padding:80px 20px;
}

h2{
text-align:center;
margin-bottom:30px;
font-family:'Cormorant Garamond';
font-size:45px;
}

.couple-wrapper{
display:flex;
justify-content:center;
align-items:center;
gap:50px;
flex-wrap:wrap;
}

.avatar{
width:120px;
height:120px;
border-radius:50%;
background:#c9a86a;
color:white;
display:flex;
align-items:center;
justify-content:center;
font-size:50px;
margin:auto;
}

.heart{
font-size:40px;
color:#c9a86a;
}

.timer{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.timer div{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.1);
min-width:100px;
text-align:center;
}

.timer span{
font-size:35px;
font-weight:bold;
color:#c9a86a;
}

.card{
max-width:500px;
margin:auto;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
text-align:center;
}

.timeline{
max-width:800px;
margin:auto;
}

.timeline-item{
background:white;
padding:25px;
margin-bottom:20px;
border-left:5px solid #c9a86a;
border-radius:15px;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
}

.gallery-grid img{
width:100%;
border-radius:20px;
height:280px;
object-fit:cover;
transition:.4s;
}

.gallery-grid img:hover{
transform:scale(1.05);
}

.gift{
text-align:center;
}

.qris{
max-width:350px;
width:100%;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.rsvp{
text-align:center;
}

.wa-btn{
display:inline-block;
padding:15px 35px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:50px;
margin-top:20px;
}

.footer{
background:#111;
color:white;
text-align:center;
}

.reveal{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

@media(max-width:768px){

.hero-content h1{
font-size:48px;
}

h2{
font-size:35px;
}

}
